body{
    background-color: #e7e1e1;
}
#B_tech{
    background-color: #6f42c1;

}
#M_tech{
    background-color: #6610f2;

}
#Phd{
    background-color: #0d6efd;
}

#Students-Customer{
    background-color: #6f42c1;
}
#Students-Contact-Information{
   
    background-color: #6f42c1;
}
#Students-Total-Orders{
    background-color: #6f42c1;
}
#Students-Contact-body{
    text-align: left;
    color: black;
}
#Students-second-row{
text-align: left;
}
#overflow-table{
    overflow-y:scroll;height: 600px;
}


