{% extends 'fees/main.html' %}

{% load crispy_forms_tags %}
{% block content %}



<div class="card text-white border-secondary bg-dark mb-3">
    <div class="card-header bg-transparent border-secondary" style="text-align: center;">

        <h1 class="card-title" style="text-align: center;">Select the details to create new semester</h1>
    </div>
    <div class="card-body text-light">
        {% for message in messages %}
        <p >
        <h3 style="text-align: center; color: darkgray; color: rgb(102, 114, 224);"> {{message}}</h3>
        </p>
        {% endfor %}

        <br>

        <form action="" method="POST">
            {% csrf_token %}
            {% for x in form %}
            <div class="row">
                <div class="col-3">
                </div>
                <div class="col-6">
                    <strong>{{ x|as_crispy_field }}</strong>
                </div>
                <div class="col-3">
                </div>
            </div>
            {% endfor %}

            <br>
            <br>

            <div class="row " >
            <div class="col-2">
                </div>
                <div class="col-8">
                <input type="submit" name='CreateForm' class="btn btn-danger border-light w-100 p-1" >
                </div>
            </div>
        </form>
<br>
<br>
<br>
    </div>
</div>


{% endblock %}