{% extends 'fees/main.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% comment %} {% include 'fees/status.html' %} {% endcomment %}

<br>
<br>
<div class="row">
    <div class="col-md">
        <div class="card">
            <div class="card card-body" style="background-color:  rgb(245, 238, 226);">
                {% comment %} for the form search {% endcomment %}
                <form action="" method="get">
                    {% comment %} {{myfilter.form|crispy}} {% endcomment %}
                    {% csrf_token %}
                    <div class="row" style="background-color:  rgb(245, 238, 226);">
                        <div class="col-2">
                            <strong>{{ myfilter.form.roll|as_crispy_field }}</strong>
                        </div>
                        <div class="col-2">
                            <strong>{{ myfilter.form.start|as_crispy_field }}</strong>
                        </div>
                        <div class="col-2">
                            <strong>{{ myfilter.form.end|as_crispy_field }}</strong>
                        </div>
                        <div class="col-2">
                            <strong>{{ myfilter.form.Enquiry_status|as_crispy_field }}</strong>
                        </div>
                        <div class="col-1">
                        </div>
                        <div class="col-2">
                            {% comment %} {{ myfilter.form.phone|as_crispy_field }} {% endcomment %}
                            <br>
                            <button class="btn btn-primary" type="submit">Search Enquiry</button>
                        </div>
                        <br>
                    </div>

                    <br>
                </form>
                {% comment %} <h5 class="card-title btn btn-primary"> Students </h5> {% endcomment %}
                <br>

                <div style="overflow-y:scroll;height: 710px;">
                <table class="table table-dark table-striped">
                    <thead>
                        <tr >
                            <th scope="col"></th>
                            <th scope="col">Roll_No.</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Date</th>
                            <th scope="col">Enquiry_Status</th>
                        </tr>
                    </thead>
                        {% for enquiry in enquiries %}
                        <tr>
                            <td><a class="btn btn-sm btn-info" href="{% url 'enquiry_render' enquiry.id %}">View</a>
                            </td>
                            <td>{{enquiry.roll}}</td>
                            <td>{{enquiry.name}}</td>
                            <td>{{enquiry.email}}</td>
                            <td>{{enquiry.datecreated}}</td>
                            <td>{{enquiry.Enquiry_status}}</td>
                        </tr>
                        {%endfor%}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}