{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CFMS</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}" type='text/css'>
    <style>
        .hero {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
            url({% static 'images/student_8.jpg' %});
            background-position: center;
            background-size: cover;
            position: absolute;
        }
    </style>
</head>

<body>
    <div class="hero">
        <div class="form-box" style=" text-align:center; height:300px;">
            <br>
            <br>
            <p style="color: blanchedalmond;">Password Reset Done!!!</p>
            <br>
            <br>
            <p style="color: blanchedalmond;">You may Log in now</p>
            <br>
            <br>
            <!-- <hr> -->
            
            <div style="display: flex;justify-content: center; align-items:center;">

                <a href="{% url 'login' %}" class="forgot">Log in</a> 
            </div>
        </div>
    </div>
</body>

</html>