{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CFMS</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}" type='text/css'>
    <style>
        .hero {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
            url({% static 'images/student_8.jpg' %});
            background-position: center;
            background-size: cover;
            position: absolute;
        }
    </style>
</head>

<body>
    <div class="hero">
        <div class="form-box" style="  height:300px; text-align:center">
            <br>
            <br>
            <br>
            <br>
            <br>


            <p style="color: blanchedalmond;">We have emailed you the set of instructions to reset your password if account exists with email id</p>

            <br>
            <br>
            <p style="color: blanchedalmond;">If you don't get the email please ensure that you have provided right
                email id</p>
            <br>
            <br>

        </div>
    </div>
</body>

</html>