{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CFMS</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}" type='text/css'>
    <style>
        .hero {
            height: 100%;
            width: 100%;
            background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
            url({% static 'images/student_8.jpg' %});
            background-position: center;
            background-size: cover;
            position: absolute;
        }
    </style>
</head>

<body>
    <div class="hero">
        <div class="form-box" style=" text-align:center; height:400px;">
            <br>
            <br>
            <p style="color: blanchedalmond;">Forgot your password?</p>
            <br>
            <br>
            <p style="color: blanchedalmond;">Enter your registered email address to set your new password</p>
            <br>
            <br>
            <!-- <hr> -->
            
            <div style="display: flex;justify-content: center; align-items:center;">

                <form action="" id="password_reset" class="input-group" method="POST" >
                    {% csrf_token %}
                    <input type="email" class="input-field" placeholder="Your registered email id" name='email' required style="text-align: center;">
                    <button type="submit" class="submit-btn">Get Link</button>
                </form> 
            </div>
        </div>
    </div>
</body>

</html>