
<br>
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white nb-3" id='B_tech'>
                <div class="card-header">
                    <h5 class="card-title">B.tech</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{btech}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white nb-3" id='M_tech'>
                <div class="card-header">
                    <h5 class="card-title">M.Tech</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{mtech}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white nb-3" id='Phd'>
                <div class="card-header">
                    <h5 class="card-title">Phd</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{phd}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>